Pandas 34 - Mapping Data Frame dengan applymap
Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.3.3

Persiapan Data Frame

In [2]:
# Membuat DataFrame
df = pd.DataFrame({
    'jenis_kelamin': ['Pria', 'Wanita', 'lelaki', 'Lelaki', 'perempuan'],
    'usia': [23, 21, 24, 22, 21],
    'shift': ['pagi', 'siang', 'Malam', 'Siang', 'pagi']
})

df

  jenis_kelamin  usia  shift
0          Pria    23   pagi
1        Wanita    21  siang
2        lelaki    24  Malam
3        Lelaki    22  Siang
4     perempuan    21   pagi


Mapping pada Data Frame dengan applymap()

In [3]:
# Mendefinisikan fungsi untuk mengubah nilai string menjadi huruf kecil
def lowercase_strings(column):
    return column.apply(lambda x: x.lower() if isinstance(x, str) else x)

# Menggunakan apply untuk menerapkan fungsi pada setiap kolom yang berisi string
df[df.select_dtypes(include='object').columns] = df.select_dtypes(include='object').apply(lowercase_strings)

# Menampilkan DataFrame hasil mapping
df

  jenis_kelamin  usia  shift
0          pria    23   pagi
1        wanita    21  siang
2        lelaki    24  malam
3        lelaki    22  siang
4     perempuan    21   pagi

applymap() dengan Dictionary

In [4]:
# Mendefinisikan mapping
mapping = {'pria': 'L',
           'lelaki': 'L',
           'wanita': 'P',
           'perempuan': 'P',
           'pagi': 1,
           'siang': 2,
           'malam': 3}

# Menerapkan mapping pada kolom 'jenis_kelamin' menggunakan map
df['jenis_kelamin'] = df['jenis_kelamin'].map(mapping.get)

# Menampilkan DataFrame hasil mapping
df

  jenis_kelamin  usia  shift
0             L    23   pagi
1             P    21  siang
2             L    24  malam
3             L    22  siang
4             P    21   pagi

In [5]:
# Menerapkan mapping pada kolom 'jenis_kelamin' dan 'shift' menggunakan map
df[['jenis_kelamin', 'shift']] = df[['jenis_kelamin', 'shift']].apply(lambda x: x.map(mapping.get))

# Menampilkan DataFrame hasil mapping
df

  jenis_kelamin  usia  shift
0          None    23      1
1          None    21      2
2          None    24      3
3          None    22      2
4          None    21      1