Pandas 46 - Seleksi Weekdays dan Weekends pada Data Deret Waktu
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.0

Persiapan Data Frame

In [2]:
n_rows = 365
n_cols = 2
cols = ['cols1', 'cols2']

# Membuat DataFrame dengan angka acak
df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)

# Membuat rentang tanggal untuk indeks
tanggal_index = pd.date_range(start='2023-01-01', periods=n_rows, freq='D')
df.index = tanggal_index

df

            cols1  cols2
2023-01-01      1     16
2023-01-02     14      5
2023-01-03      1      6
2023-01-04     19     14
2023-01-05     10     16
...           ...    ...
2023-12-27      8      5
2023-12-28     17     13
2023-12-29      1     10
2023-12-30      1      7
2023-12-31     19     12

[365 rows x 2 columns]

Seleksi Weekdays dan Weekends
Parameter dayofweek menunjukkan hari dalam seminggu.
Indeks 0-4 merepresentasikan hari kerja, sementara indeks 5-6 merepresentasikan akhir pekan.
Catatan: 0 adalah Senin, dan 6 adalah Minggu.

In [3]:
weekdays_df = df[df.index.dayofweek.isin([0, 1, 2, 3, 4])]
weekdays_df.head(7)

            cols1  cols2
2023-01-02     14      5
2023-01-03      1      6
2023-01-04     19     14
2023-01-05     10     16
2023-01-06     11     14
2023-01-09      6      3
2023-01-10      6      1

In [4]:
weekends_df = df[df.index.dayofweek.isin([5, 6])]
weekends_df.head(7)

            cols1  cols2
2023-01-01      1     16
2023-01-07      3      7
2023-01-08     15      2
2023-01-14      2     18
2023-01-15     12      6
2023-01-21     13      1
2023-01-22      1     12