Pandas 11 - Seleksi Kolom dan Baris pada Data Frame Menggunakan loc
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.0

Persiapan Data Frame

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), 
                  columns=cols)
df

    A   B   C   D   E
0  12  19  10   1   1
1  18  13   1   7  14
2  10  13  17   1  18
3  13  19  18   9  16
4  13   6   8  17   1
5  11   9   8  19  16
6  13   3  17   6  11
7  13   7   8   3   8
8  13   7   1   1  16
9  18  19   8  13   2

Seleksi kolom dan baris menggunakan loc

In [3]:
df.loc[[0,3,4], ['B','E']]

    B   E
0  19   1
3  19  16
4   6   1

Seleksi baris dengan kondisi

In [4]:
df.loc[df['B']>10, ['B','D','E']]

    B   D   E
0  19   1   1
1  13   7  14
2  13   1  18
3  19   9  16
9  19  13   2

Slicing Data Frame dengan loc

In [5]:
df.loc[0:4, 'B':'D']

    B   C   D
0  19  10   1
1  13   1   7
2  13  17   1
3  19  18   9
4   6   8  17