Pandas 31 - Tipe Data Ordinal pada Pandas Data Frame
Import Modules

In [1]:
import pandas as pd

print(pd.__version__)

2.3.3

Persiapan Data Frame

In [2]:
d = {'pelanggan':[11, 12, 13, 14], 
     'kepuasan':['baik', 'cukup', 'buruk', 'cukup']}

df = pd.DataFrame(d)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

Tipe Data Ordinal pada Pandas

In [3]:
from pandas.api.types import CategoricalDtype

# Membuat tingkat kepuasan sebagai tipe data kategorikal dengan urutan tertentu
tingkat_kepuasan = CategoricalDtype(['buruk', 'cukup', 'baik', 'sangat baik'], ordered=True)

# Mengubah tipe data kolom 'kepuasan' menjadi tingkat_kepuasan
df['kepuasan'] = df['kepuasan'].astype(tingkat_kepuasan)
df

   pelanggan kepuasan
0         11     baik
1         12    cukup
2         13    buruk
3         14    cukup

In [4]:
# Mengurutkan DataFrame berdasarkan kolom 'kepuasan' secara ascending
df = df.sort_values('kepuasan', ascending=True)
df

   pelanggan kepuasan
2         13    buruk
1         12    cukup
3         14    cukup
0         11     baik

In [5]:
# Menampilkan DataFrame yang nilai kolom 'kepuasan' lebih besar dari 'cukup'
df[df['kepuasan'] >= 'cukup']

   pelanggan kepuasan
1         12    cukup
3         14    cukup
0         11     baik