Pandas 08 - Memeriksa Kesamaan Antar Dua Buah Kolom (Series) pada Data Frame
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

2.3.3
2.3.0

Persiapan Data Frame

In [2]:
# Membuat data frame dengan menggunakan dictionary sebagai sumber datanya
# Data frame memiliki dua kolom, 'A' dan 'B', dengan beberapa nilai NaN (Not a Number)
data = {'A':[15, 15, 18, np.nan, 12], 
        'B':[15, 15, 18, np.nan, 12]}

df = pd.DataFrame(data)

# Menampilkan data frame yang telah dibuat
df

      A     B
0  15.0  15.0
1  15.0  15.0
2  18.0  18.0
3   NaN   NaN
4  12.0  12.0

Mengenal Pandas Series
Series adalah struktur data lain yang dimiliki pandas dengan objek 1-dimensi yang berisi sequence nilai dan berasosiasi dengan label data, yang disebut indeks.
Untuk membuat sebuah Series atau kolom, kita bisa membuatnya dari sebuah array dengan memanggil fungsi Series pada pandas.

In [3]:
# Menggunakan indeksing untuk memilih kolom 'A' dari data frame
df['A']

0    15.0
1    15.0
2    18.0
3     NaN
4    12.0
Name: A, dtype: float64

In [4]:
# Menggunakan fungsi type untuk mengetahui tipe objek dari kolom 'A' dalam data frame
type(df['A'])

pandas.core.series.Series

In [5]:
# Menggunakan fungsi type untuk mengetahui tipe objek dari data frame
type(df)

pandas.core.frame.DataFrame

Memeriksa Kesamaan dengan Operator ==

In [6]:
# Menggunakan operator == untuk membandingkan nilai antara kolom 'A' dan 'B' dalam data frame
df['A'] == df['B']

0     True
1     True
2     True
3    False
4     True
dtype: bool

Memeriksa kesamaan dengan method equals()

In [7]:
# Menggunakan metode equals untuk memeriksa apakah isi dari kolom 'A' dan 'B' dalam data frame identik
# Metode ini dapat menangani perbandingan nilai NaN dengan benar
df['A'].equals(df['B'])

True

Memeriksa Kesamaan Antar Dua Data Frame

In [8]:
# Membuat salinan mendalam (deep copy) dari data frame df dan menyimpannya dalam variabel df1
df1 = df.copy(deep=True)

# Menggunakan metode equals untuk memeriksa apakah isi dari df dan df1 identik
# Metode ini dapat menangani perbandingan nilai NaN dengan benar
df.equals(df1)

True

In [9]:
# Menggunakan operator == untuk membandingkan nilai antara setiap elemen dalam df dan df1
df == df1

       A      B
0   True   True
1   True   True
2   True   True
3  False  False
4   True   True